.info{
    border: 1px solid #444;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 1100px;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #333333;
}
.info span{
    color: #32CD32;
    margin: 20px;
}
.active-equilibrium-param {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    color:white;
    background-color: #333333;

}
.active-equilibrium-param span{
    color: #32CD32;
}
.configuration-controls {
    /* Your CSS styling here */
    display: flex;
    gap: 10px;
  }