/* src/ParameterSettings.css */
.parameter-settings {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #ffffff;
    background-color: #333333;
    width: 1100px;
  }
  
  .parameter-settings h1, .parameter-settings h2 {
    color: #ffffff;
    text-align: center;
  }
  
  .section {
    margin-bottom: 20px;
    border: 1px solid #00ff00;
    padding: 10px;
  }
  
  .equilibrium-state p, .active-equilibrium-param .param-row p {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .status {
    color: #00ff00;
  }
  
  .param-row {
    display: flex;
    justify-content: space-between;
  }
  
  .param-row p {
    margin: 5px 0;
    flex: 1;
  }
  
  .param-row input, .param-row select {
    margin-left: 10px;
  }
  
  button {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #00ff00;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;;
  }
  
  button:hover {
    background-color: #00ff00;
    color: #333333;
  }
  
  .additional-settings table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }
  
  .additional-settings th, .additional-settings td {
    border: 1px solid #00ff00;
    padding: 5px;
    text-align: center;
  }
  
  .additional-settings input {
    width: 100%;
    box-sizing: border-box;
  }
  
  .configuration-controls {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .configuration-controls button {
    width: 100px;
  }
  